<h3 style="color:white">Scan the QR Code below and login to the whatsapp</h3>
<div>
    <img src="{{image_url}}" alt="no image loaded">
</div>
<div style="display: flex;flex-direction: column;">
    <h3 style="color:white">Click here after successfull login</h3>
    <a href="/" style="padding:10px; margin:10px;color:white;text-decoration:none;">Go to homepage</a>
</div>
