<h3 style="color:white">Scan the QR Code below and login to the whatsapp</h3>
<div>
    <img src="{{image_url}}" alt="no image loaded">
</div>
<div>
    <h3 style="color:white">Click here after successfull login</h3>
    <button type="button" class="btn btn-light" onclick="success()">Login success</button>
</div>
